<configuration scan="true" scanPeriod="5 seconds" debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[OUT]%-27.27(%d{HH:mm:ss.SSS}[%12.12thread])[%-5level]\(%3.3line\)	%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- <appender name="FILE" -->
	<!-- class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <file>log.txt</file> -->
	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- rollover daily -->

	<!-- <fileNamePattern>log-%d{yyyy-MM-dd}.%3i.txt</fileNamePattern> -->
	<!-- <timeBasedFileNamingAndTriggeringPolicy -->
	<!-- class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> -->
	<!-- or whenever the file size reaches 100MB -->
	<!-- <maxFileSize>100KB</maxFileSize> -->
	<!-- </timeBasedFileNamingAndTriggeringPolicy> -->
	<!-- </rollingPolicy> -->
	<!-- <encoder> -->
	<!-- <pattern>%-32.32(%d{HH:mm:ss.SSS} [%17.17thread]) [%-5level]\(%3.3line\) 
		%logger{36} - %msg%n</pattern> -->
	<!-- </encoder> -->
	<!-- </appender> -->
	<logger name="http://samples.farmafene.com/sample-service/schema" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.farmafene" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>